*.py[cod]
*.py~
*.zox

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist/
build/

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# IDE
*.e4p
.ropeproject
.eric4project
.settings
.project
.pydevproject
.externalToolBuilders
.idea

# Log files
*.log

# UI stuff
resources_rc.py
ui_*.py

# Virutal Environment
venv
